* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather',Arial, Helvetica, sans-serif.
}

/*header--------*/

.banner {
    width: 85%;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 60px;
    border-radius: 16px;
    text-align: center;
}

.banner p {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    padding-top: 177px;
    padding-bottom: 20px;

}

.banner h2{
    font-size: 72px;
    font-weight: 900;
    color: #fff;
}

/*------main----*/

.one{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.one h2{
    font-size: 80px;
    font-weight:900 ;
    color:#f00;
    margin-bottom: 40px;
}

.one p{
    font-size: 24px;
    color: #f00;
    margin-bottom: 15px;
}

.one h4{
    font-size: 48px;
    font-weight: 700;
}

.one img{
    height: 450px;
    margin-top: 48px;
}

.two{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Vectorrr.png');
    background-size: cover;
    width: 85%;
    height: 570px;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    border-radius: 16px;
}

.two h2{
    color: #fff;
    padding-top: 140px;
    padding-left: 126px;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 34px;
}

.two p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    padding-bottom: 40px;
    padding-left: 126px;
}

.btn {
    color: #fff;
    background-color: #f00;
    padding: 16px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 126px;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.three{
    width: 85%;
    margin: auto;
    text-align: center;
    height: 400px;
    margin-top: 100px;
    background-color:linear-gradient( rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}

.three p{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    word-spacing: 5px;
    padding-top: 100px;
}

.three span{
    color: #f00;
    padding-right: 5px;
}

.three .btn{
    margin-left: 0;
    margin-top: 40px;
}

.four{
    width: 85%;
    margin-top: 100px;
    margin: auto;
}

.four .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four .row  .red{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.four .row h4{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.diff{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}
#year{
    color:#f00 ;
    font-size: 48px;
    font-weight: 900;
}

.four img{
    margin-top: 30px;
}