* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

/*header--------*/

.banner {
    width: 85%;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 60px;
    border-radius: 16px;
    text-align: center;
}

.banner p {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    padding-top: 177px;
    padding-bottom: 20px;

}

.banner h2 {
    font-size: 72px;
    font-weight: 900;
    color: #fff;
}

/*------main----*/

.one {
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.one h2 {
    font-size: 80px;
    font-weight: 900;
    color: #f00;
    margin-bottom: 40px;
}

.one p {
    font-size: 24px;
    color: #f00;
    margin-bottom: 15px;
}

.one h4 {
    font-size: 48px;
    font-weight: 700;
}

.one img {
    height: 450px;
    margin-top: 48px;
}

.two {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/Vectorrr.png');
    background-size: cover;
    width: 85%;
    height: 570px;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    border-radius: 16px;
}

.content {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.two img {
    float: right;
    padding-right: 100px;
    padding-top: 70px;
    height: 450px;
}

.two h2 {
    color: #fff;
    padding-top: 140px;
    padding-left: 126px;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 34px;
}

.two p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    padding-bottom: 40px;
    padding-left: 126px;
}

.btn {
    color: #fff;
    background-color: #f00;
    padding: 16px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 126px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.three {
    width: 85%;
    margin: auto;
    text-align: center;
    height: 400px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.20), rgba(255, 0, 0, 0.00));
    box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.3);
    margin-bottom: 100px;
}

.three p {
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    word-spacing: 5px;
    padding-top: 100px;
}

.three span {
    color: #f00;
    padding-right: 5px;
}

.three .btn {
    margin-left: 0;
    margin-top: 40px;
}

.four {
    width: 85%;
    margin-top: 100px;
    margin: auto;
}

.four .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four .row .red {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.four .border {
    border-radius: 463px;
    border: 20px solid #fff;
    outline: 10px solid red;
    border-radius: 364.844px;
    background: url('./images/Ellipse\ 1.png');
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    margin-left: -20px;
}


.four .row h4 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.diff {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 20px;
}

.four .diff{
    text-align: left;
}

#year {
    color: #f00;
    font-size: 48px;
    font-weight: 900;
}

.four img {
    margin-top: 30px;
}

.five {
    width: 85%;
    margin: auto;
    margin: 120px;
    position: relative;
}

.five p:first-child {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.five h2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.five span {
    color: #f00;
}

.diff {
    text-align: center;
}

.five .img {
    float: right;
    background-image: url('./images/Rectangle\ 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 630px;
    height: 433px;
    margin-top: 70px;
}

.five .img img {
    padding-right: 280px;
    padding-top: 105px;
    float: right;
}

.five .rec {
    width: 100%;
    height: 230px;
    border-radius: 16px 0px 16px 16px;
    background-image: url('./images/Rectangle\ 2.png');
    position: relative;
    top: 430px;
}

.five .rec img {
    position: absolute;
    width: 500px;
    z-index: 2;
    top: -230px;
    left: 50px;
    fill: #958864;
    opacity: 0.83;
}

.six {
    width: 85%;
    margin: auto;
    margin-top: 530px;
    padding-left: 10px;
}

#caption {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.six h4 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
}

.six .diff {
    text-align: left;
    margin-bottom: 24px;
}

.six .shop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.six .shop .item{
    
    width:340px;
    
}

.six .shop img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.seven {
    width: 85%;
    padding-top: 80px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.00));
}

.seven h3{
    font-size: 48px;
    font-weight: 900;
}

.seven a{
    text-decoration: none;
    color: white;
}

.seven div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.seven input {
    height: 75px;
    width: 440px;
    margin-right: 0;
    border: none;
    border-radius: 50px 0px 0px 50px;
    margin-right: -5;

}

.seven input::placeholder {
    padding-left: 15px;
}

.seven .btn {
    margin-left: 0;
    font-size: 20px;
    height: 75px;
    border-radius: 0 50px 50px 0px;
    border: none;
    outline: none;
    padding: 19px 40px 22px 40px;
    border: 2px solid #f00;
}

/*--------------footer---------*/

.footer {
    width: 100%;
    background-color: #070211;
    margin-top: 180px;
}

.footer .contact {
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #fff;
    width: 85%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer .contact i {
    color: #fff;
    font-size: 14px;
    padding-right: 8px;
}

.footer .icon {
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer .copy {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 70px 0px;

}

/*--------animation----------*/

button:hover {
    background-color: none;
    padding: 22px 35px;
    transform: 3s all ease-out;
}

button {
    cursor: pointer;
}

.six .shop img{
    transition: .5s ease;
    filter: grayscale(0%);
    cursor: pointer;
    overflow: hidden;
}

.six .shop img:hover{
    transform:scale(0.9) ;
    filter: grayscale(100%);
    
}